<nav class="mainNav mat-elevation-z6">
        <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
            <ul fxFlex="10%">
                <a [routerLink]="['/']"><img src="./assets/img/app_logo.svg" /></a>
            </ul>
            <ul fxFlex="70%">
                <button mat-button>Intro</button>
                <button mat-button>Equipe</button>
                <button mat-button>Contact</button>
            </ul>
            <ul fxFlex="20%" class="right">
                <button *ngIf="(isLoggedIn | async)" mat-button [routerLink]="['/app']"><mat-icon>person</mat-icon>{{currentUser.user.firstName}} {{currentUser.user.lastName}}</button>
                <button *ngIf="!(isLoggedIn | async)" mat-button [routerLink]="['/login']"><mat-icon>person</mat-icon>Se connecter</button>
            </ul>
        </div>
</nav>