<footer class="site-footer">
        <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex="50%" class="footer-item">
                <h4>A propos de nous</h4>
                <p>
                    Supfile.org est un service développé et maintenu par l'équipe de l'entreprise SupDev. Vous pouvez nous contacter si vous avez
                    des question. Vous pouvez consulter nos <a [routerLink]="['/mentions-legales']">mentions légales</a> 
                    et nos <a [routerLink]="['/conditions-generales-utilisation']">conditions générales d'utilisation</a>.
                 </p>
                <button mat-button>Nous contacter</button>
            </div>
            <div fxFlex="25%" class="footer-item">
                <h4>Ou nous sommes</h4>
                <mat-list class="mat-list">
                    <mat-list-item class="mat-list-item mat-2-line">
                        <div class="mat-list-item-content">
                            <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
                            <mat-icon class="mat-icon mat-list-icon mat-accent material-icons" color="accent" mat-list-icon="" role="img" aria-hidden="true">email</mat-icon>
                            <div class="mat-list-text">
                                <h5 class="mat-line" matline=""><b>Email</b></h5>
                                <p class="mat-line" matline=""> contact@supfile.org </p>
                            </div>    
                        </div>
                    </mat-list-item>
                    <mat-list-item class="mat-list-item mat-2-line">
                            <div class="mat-list-item-content">
                                <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
                                <mat-icon class="mat-icon mat-list-icon mat-accent material-icons" color="accent" mat-list-icon="" role="img" aria-hidden="true">location_on</mat-icon>
                                <div class="mat-list-text">
                                    <h5 class="mat-line" matline=""><b>Adresse</b></h5>
                                    <p class="mat-line" matline=""> 52 rue Georges Philbois </p>
                                    <p class="mat-line" matline=""> 10000 Troyes, France </p>
                                </div>    
                            </div>
                        </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="25%" class="footer-item">
                <h4>Informations</h4>
                <p>Nous sommes présent sur les réseaux sociaux, vous pouvez y réagir sur la qualité de notre préstation.</p>
                <div class="socials">
                    <ul>
                        <li><a class="linkedin" href=""></a></li>
                        <li><a class="twitter" href=""></a></li>
                        <li><a class="facebook" href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>