.formActions {
    button {
        width:48%;
        display: inline-block;
        &[type=submit] {
            background-color: orange;
            color: #FFF;
        }
    }
}

form {
    .isNewName {
        padding: 15px 0px;
    }
    .fullInput {
        width: 100%;
    }
}
