.zoneDropEmpty {
    h2 {
        margin: 0;
        text-align: center;
        font-size: 1.3em;
    }
    div {
        text-align: center;
        mat-icon {
            font-size: 5em;
        }
    }
}
