.dialogFilePdf {
    width: 748px;
    height: 80%;
    padding: 0;
}
.dialogFileVideo {
    width: 748px;
    padding: 0;
}
.dialogFileImg {
    width: 748px;
    padding: 0;
    img {
        width: 100%;
        height: auto;
    }
}

.file_container {
    vg-player {
        width: 700px !important;
        margin: 0 auto !important;
    }
    pdf-viewer {
        max-width: 100%;
        display:block;
    }
}
.dialogClass {
    width: 360px;
}
.remaneInput {
    width: 100%;
    margin-bottom: 15px;
}
div#moveBreacrump {
    .returnButton {
        min-width: 100%;
    }
    p {
        margin-left: 5px;
    }
}
ul#moveList {
    padding: 0;
    li {
        list-style-type: none;
        button.itemList {
            width: 250px;
            text-align: left;
        }
        button.iconList {
            min-width: 26px;
        }
    }
}
p#noRes {
    width: 310.14px;
    text-align: center;
    margin-bottom: 45px;
}

.isActived {
    background-color : orange;
    color: #FFF;
}
