<section class="container">

    <ul id="bradcrump">
        <li><button mat-button (click)="getDatasRoot()">Mon SupFile</button></li>
        <li *ngFor="let item of breadcrump">
            <mat-icon>chevron_right</mat-icon>
            <button mat-button (click)="getDatas(item._id, true, false)">{{ item.name }}</button>
        </li>
    </ul>

    <div fxLayout="row wrap" fxLayoutAlign="start center" class="list-head" *ngIf="!emptyFolders"> <!-- fxLayoutGap="10px" -->
        <div fxFlex="10%"></div>
        <div fxFlex="35%">Nom</div>
        <div fxFlex="40%">Modifications</div>
        <div fxFlex="10%"></div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center"> <!-- *ngIf="!emptyFolders" -->

        <mat-list-item class="list-container" *ngFor="let folder of folders">

            <button mat-button class="list-line" (click)="getDatas(folder._id, false, false)">
                <div fxFlex="10%" class="icon-line"><mat-icon mat-list-icon>folder</mat-icon></div>
                <div fxFlex="40%" class="text-line"><h4 mat-line> {{folder.name}} </h4></div>
                <div fxFlex="40%" class="text-line"><p mat-line> {{folder.updatedAt | date}} </p></div>
            </button>
            <div fxFlex="10%" class="actions">
                <button mat-button [matMenuTriggerFor]="itemMenu"><mat-icon>more_vert</mat-icon></button>
            </div>


            <mat-menu #itemMenu="matMenu" xPosition="before" yPosition="below">
                <button mat-menu-item (click)="rename(folder)"><mat-icon>edit</mat-icon>Renommer</button>
                <button mat-menu-item (click)="delete(folder)"><mat-icon>close</mat-icon>Supprimer</button>
                <button mat-menu-item><mat-icon>file_upload</mat-icon>Télécharger</button>
                <button mat-menu-item (click)="move(folder)"><mat-icon>redo</mat-icon>Déplacer</button>
                <button mat-menu-item><mat-icon>share</mat-icon>Partager</button>
            </mat-menu>

        </mat-list-item>

        <mat-list-item class="list-container" *ngFor="let file of files">

            <button mat-button class="list-line">
                <div fxFlex="10%" class="icon-line"><mat-icon mat-list-icon>insert_drive_file</mat-icon></div>
                <div fxFlex="40%" class="text-line"><h4 mat-line> {{file.name}} </h4></div>
                <div fxFlex="40%" class="text-line"><p mat-line> {{file.updatedAt | date}} </p></div>
            </button>
            <div fxFlex="10%" class="actions">
                <button mat-button [matMenuTriggerFor]="itemMenu"><mat-icon>more_vert</mat-icon></button>
            </div>


            <mat-menu #itemMenu="matMenu" xPosition="before" yPosition="below">
                <button mat-menu-item (click)="rename(folder)"><mat-icon>edit</mat-icon>Renommer</button>
                <button mat-menu-item (click)="delete(folder)"><mat-icon>close</mat-icon>Supprimer</button>
                <button mat-menu-item><mat-icon>file_upload</mat-icon>Télécharger</button>
                <button mat-menu-item (click)="move(folder)"><mat-icon>redo</mat-icon>Déplacer</button>
                <button mat-menu-item><mat-icon>share</mat-icon>Partager</button>
            </mat-menu>

        </mat-list-item>

    </div>

    <mat-card fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="emptyFolders" class="zoneDropEmpty">
        <h2 fxFlex="70%">Vous pouvez deposer un fichier dans cette zone ou creer un nouveau dossier</h2>
        <div fxFlex="30%">
            <button mat-button><mat-icon color="primary" (click)="addFolder()">create_new_folder</mat-icon></button>
        </div>
    </mat-card>

</section>
